<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>moviesdb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>movies</servlet-name>
    <servlet-class>com.moviesdb.Movies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>movies</servlet-name>
    <url-pattern>/movies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>moviedetails</servlet-name>
    <servlet-class>
			com.moviesdb.MovieDetails
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>moviedetails</servlet-name>
    <url-pattern>/moviedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>castandcrew</servlet-name>
    <servlet-class>
			com.moviesdb.CastAndCrew
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>castandcrew</servlet-name>
    <url-pattern>/castandcrew</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>castandcrewdetails</servlet-name>
    <servlet-class>
			com.moviesdb.CastAndCrewDetails
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>castandcrewdetails</servlet-name>
    <url-pattern>/castandcrewdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>
			com.moviesdb.Profile
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ratedmovie</servlet-name>
    <servlet-class>
			com.moviesdb.RatedMovie
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ratedmovie</servlet-name>
    <url-pattern>/ratedmovie</url-pattern>
  </servlet-mapping>
</web-app>